<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Lab8.getEndPoint()[pri:0, instance:lab8.Lab8@6340e5f0]">&gt;&gt;getEndPoint</td> 
<td>&nbsp;</td>  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:27</td>   <td>379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Lab8.TC_001()[pri:0, instance:lab8.Lab8@6340e5f0]">TC_001</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:28</td>   <td>1566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Lab8.getEndPoint()[pri:0, instance:lab8.Lab8@6340e5f0]">&gt;&gt;getEndPoint</td> 
<td>&nbsp;</td>  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:28</td>   <td>1567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Lab8.TC_002()[pri:1, instance:lab8.Lab8@6340e5f0]">TC_002</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:29</td>   <td>1749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Lab8.getEndPoint()[pri:0, instance:lab8.Lab8@6340e5f0]">&gt;&gt;getEndPoint</td> 
<td>&nbsp;</td>  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:29</td>   <td>1750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Lab8.TC_003()[pri:2, instance:lab8.Lab8@6340e5f0]">TC_003</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:29</td>   <td>1867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Lab8.getEndPoint()[pri:0, instance:lab8.Lab8@6340e5f0]">&gt;&gt;getEndPoint</td> 
<td>&nbsp;</td>  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:29</td>   <td>1868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Lab8.TC_004()[pri:3, instance:lab8.Lab8@6340e5f0]">TC_004</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:29</td>   <td>1978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Lab8.getEndPoint()[pri:0, instance:lab8.Lab8@6340e5f0]">&gt;&gt;getEndPoint</td> 
<td>&nbsp;</td>  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:29</td>   <td>1979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Lab8.TC_005()[pri:4, instance:lab8.Lab8@6340e5f0]">TC_005</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:29</td>   <td>2081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Lab8.getEndPoint()[pri:0, instance:lab8.Lab8@6340e5f0]">&gt;&gt;getEndPoint</td> 
<td>&nbsp;</td>  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:29</td>   <td>2081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Lab8.TC_006()[pri:5, instance:lab8.Lab8@6340e5f0]">TC_006</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:29</td>   <td>2182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Lab8.getEndPoint()[pri:0, instance:lab8.Lab8@6340e5f0]">&gt;&gt;getEndPoint</td> 
<td>&nbsp;</td>  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:29</td>   <td>2183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Lab8.TC_007()[pri:6, instance:lab8.Lab8@6340e5f0]">TC_007</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:30</td>   <td>2774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Lab8.getEndPoint()[pri:0, instance:lab8.Lab8@6340e5f0]">&gt;&gt;getEndPoint</td> 
<td>&nbsp;</td>  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:30</td>   <td>2774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Lab8.TC_008()[pri:7, instance:lab8.Lab8@6340e5f0]">TC_008</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:30</td>   <td>3289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Lab8.getEndPoint()[pri:0, instance:lab8.Lab8@6340e5f0]">&gt;&gt;getEndPoint</td> 
<td>&nbsp;</td>  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:30</td>   <td>3291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Lab8.TC_009()[pri:8, instance:lab8.Lab8@6340e5f0]">TC_009</td> 
  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:30</td>   <td>3397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Lab8.getEndPoint()[pri:0, instance:lab8.Lab8@6340e5f0]">&gt;&gt;getEndPoint</td> 
<td>&nbsp;</td>  <td>main@1967355409</td>   <td></td> </tr>
<tr bgcolor="736069">  <td>24/04/07 10:52:30</td>   <td>3397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Lab8.TC_010()[pri:9, instance:lab8.Lab8@6340e5f0]">TC_010</td> 
  <td>main@1967355409</td>   <td></td> </tr>
</table>
